<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
                      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Banque</title>
        <link th:replace="fragments/liens :: liens">
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container mt-4">
            <h1 th:text="${titre}"></h1>
            <br />
            <a class="btn btn-primary" th:href="@{/assurance_vie/add}">Nouvelle assurance vie</a>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                    	<th>Client</th>
                    	<th>Banque</th>
                        <th>Numéro de compte</th>
                        <th>Solde</th>
                        <th>Taux</th>
                        <th>Date fin</th>
                        <th></th>
                    </tr>
                </thead>
<tbody>
                    <tr th:each="assuranceVie : ${assuranceVie}">
                        <td class="align-middle">
                            <span th:each="client: ${assuranceVie.getClients()}" th:text="${client}"></span>
                        </td >
                        <td class="align-middle">
                            <span th:each="client: ${assuranceVie.getClients()}" th:text="${client.banque}"></span>
                        </td >
                        <td th:text="${assuranceVie.numero}" class="align-middle"></td>
                        <td th:text="${#numbers.formatCurrency(assuranceVie.solde)}" class="align-middle"></td>
                        <td th:text="${assuranceVie.taux}" class="align-middle"></td>
                        <td th:text="${#dates.format(assuranceVie.dateFin, 'dd/MM/yyyy')}" class="align-middle"></td>
                        <td class="text-end">
                            <a th:href="@{/assurance_vie/update/{id}(id=${assuranceVie.id})}" class="btn btn-success">Modifier</a>
                            <a th:href="@{/assurance_vie/delete/{id}(id=${assuranceVie.id})}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div> 
    </body>
</html>