<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
                      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ajout d'un banque</title>
        <link th:replace="fragments/liens :: liens">
    </head>
    <body>
    	<nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container mt-4">
            <h1 th:text="${titre}" class="mb-3"></h1>
            <form class="mb-3"
                  th:action="@{/banque/update}"  
                  th:object="${banqueForm}"
                  method="post">
                  <div class="row mb-3">
                      <div class="col-4">
                          <label class="form-label">Nom</label>
                          <input class="form-control" type="text" th:field="*{nom}" />
                      </div>
                  </div>
                  <input type="hidden" th:field="*{id}" />
                  <input class="btn btn-primary" type="submit" value="Mettre à jour" />
             </form>
             <a th:href="@{/banque/banques}">Retour</a>
        </div>
    </body>
</html>