<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
                      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Banque</title>
        <link th:replace="fragments/liens :: liens">
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container mt-4">
            <h1 th:text="${titre}"></h1>
            <br />
            <a class="btn btn-primary" th:href="@{/client/add}">Nouveau client</a>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date de naissance</th>
                        <th>Adresse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client : ${clients}">
                        <td th:text="${client.prenom}" class="align-middle"></td>
                        <td th:text="${client.nom}" class="align-middle"></td>
                        <td th:text="${#dates.format(client.dateNaissance, 'dd/MM/yyyy')}" class="align-middle"></td>
                        <td th:text="${client.adresse}" class="align-middle"></td>
                        <td class="text-end">
                        	<a th:href="@{/client/update/{id}(id=${client.id})}" class="btn btn-success">Modifier</a>
                        	<a th:href="@{/client/delete/{id}(id=${client.id})}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div> 
    </body>
</html>