<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
                      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Banque</title>
        <link th:replace="fragments/liens :: liens">
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container mt-4">
            <h1 th:text="${titre}"></h1>
            <br />
            <a class="btn btn-primary" th:href="@{/operation/add}">Nouvelle operation</a>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                    	<th>Compte</th>
                    	<th>Date</th>
                        <th>Montant</th>
                        <th>Motif</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="operations : ${operations}" >
                    	<td th:text="${operations.compte}" class="align-middle"></td>
                    	<td th:text="${#dates.format(operations.date, 'dd/MM/yyyy')}" class="align-middle">banque</td>
                    	<td th:text="${operations.montant}" class="align-middle">banque</td>
                        <td th:text="${operations.motif}" class="align-middle"></td>
                        <td class="text-end">
                        	<a th:href="@{/operation/update/{id}(id=${operations.id})}" class="btn btn-success">Modifier</a>
                        	<a th:href="@{/operation/delete/{id}(id=${operations.id})}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div> 
    </body>
</html>